md-card {
  width: auto;
  margin: 0.5em;
  display: block;
  float: left;
  padding: 2em;
}

.button-row {
  margin: 2em 0;
}

md-card-footer {
  text-align: center;
  padding: 0.5em;
}

.lightgreen, .lightskyblue, .lightgrey, .lightsalmon {
  cursor: pointer;
  margin: 0 0.5em;
  font-weight: bold;
}

.lightgreen {
  color: lightgreen;
}

.lightskyblue {
  color: lightskyblue;
}

.lightgrey {
  color: lightgrey;
}

.lightsalmon {
  color: lightsalmon;
}