<md-card class="example-card" [style.background-color]="note.backgroundColor">
  <md-card-header>
    <md-card-title>
      <md-input-container>
        <input [(ngModel)]="note.title" mdInput placeholder="Title" value="{{note.title}}">
      </md-input-container>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container>
      <textarea [(ngModel)]="note.content" mdInput placeholder="Content">{{note.content}}</textarea>
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button (click)="removeNote(note.id)" md-button><md-icon>delete</md-icon></button>
  </md-card-actions>
  <md-card-footer>
    <span class="lightgreen" (click)="changeColor(note.id, 'lightgreen')">green</span>
    <span class="lightskyblue" (click)="changeColor(note.id, 'lightskyblue')">blue</span>
    <span class="lightgrey" (click)="changeColor(note.id, 'lightgrey')">grey</span>
    <span class="white" (click)="changeColor(note.id, 'white')">white</span>
  </md-card-footer>
</md-card>